<script src = "js/nav.js"></script>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <br>
                <br>
                <div class="row center" id="logo">
                    <h1>WHAT ACTIVITY DID YOU DO ?</h1>
                </div>
                <div class="row center" id="motto">
                    <h5><strong>Reward Yourself</strong></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <div class="col m6 s12">
                    <div class="card green hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/running2.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator orange-text text-darken-4">Running<i class="material-icons right">more_vert</i></span>
                            <p>ADD</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title orange-text text-darken-4">Running<i class="material-icons right">close</i></span>
                            <p>HOW LONG ?</p>
                            <form action="#">
                                <p>
                                    <input name="group1" type="radio" id="test1" />
                                    <label for="test1">10 mins</label>
                                </p>
                                <p>
                                    <input name="group1" type="radio" id="test2" />
                                    <label for="test2">20 mins</label>
                                </p>
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="test3" />
                                    <label for="test3">30 mins</label>
                                </p>
                            </form>
                            <p>HOW FAR ?</p>
                            <form action="#">
                                <p>
                                    <input name="group1" type="radio" id="test1" />
                                    <label for="test1">1 mi</label>
                                </p>
                                <p>
                                    <input name="group1" type="radio" id="test2" />
                                    <label for="test2">2 mi</label>
                                </p>
                                <p>
                                    <input class="with-gap" name="group1" type="radio" id="test3" />
                                    <label for="test3">3 mi</label>
                                </p>
                                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="card green hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/biking.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator orange-text text-darken-4">Biking<i class="material-icons right">more_vert</i></span>
                        <p>ADD</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title orange-text text-darken-4">Biking<i class="material-icons right">close</i></span>
                        <p>HOW LONG ?</p>
                        <form action="#">
                            <p>
                                <input name="group1" type="radio" id="test1" />
                                <label for="test1">10 mins</label>
                            </p>
                            <p>
                                <input name="group1" type="radio" id="test2" />
                                <label for="test2">20 mins</label>
                            </p>
                            <p>
                                <input class="with-gap" name="group1" type="radio" id="test3" />
                                <label for="test3">30 mins</label>
                            </p>
                        </form>
                        <p>HOW FAR ?</p>
                        <form action="#">
                            <p>
                                <input name="group1" type="radio" id="test1" />
                                <label for="test1">1 mi</label>
                            </p>
                            <p>
                                <input name="group1" type="radio" id="test2" />
                                <label for="test2">2 mi</label>
                            </p>
                            <p>
                                <input class="with-gap" name="group1" type="radio" id="test3" />
                                <label for="test3">3 mi</label>
                            </p>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row center">
        <div class="col m6 s12">
            <div class="card green hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/walking.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator orange-text text-darken-4">Walking<i class="material-icons right">more_vert</i></span>
                    <p>ADD</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title orange-text text-darken-4">Walking<i class="material-icons right">close</i></span>
                    <p>HOW LONG ?</p>
                    <form action="#">
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">10 mins</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="test2" />
                            <label for="test2">20 mins</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="test3" />
                            <label for="test3">30 mins</label>
                        </p>
                    </form>
                    <p>HOW FAR ?</p>
                    <form action="#">
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">1 mi</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="test2" />
                            <label for="test2">2 mi</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="test3" />
                            <label for="test3">3 mi</label>
                        </p>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col m6 s12">
            <div class="card green hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/hiking.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator orange-text text-darken-4">Hiking<i class="material-icons right">more_vert</i></span>
                    <p>ADD</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title orange-text text-darken-4">Hiking<i class="material-icons right">close</i></span>
                    <p>HOW LONG ?</p>
                    <form action="#">
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">10 mins</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="test2" />
                            <label for="test2">20 mins</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="test3" />
                            <label for="test3">30 mins</label>
                        </p>
                    </form>
                    <p>HOW FAR ?</p>
                    <form action="#">
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">1 mi</label>
                        </p>
                        <p>
                            <input name="group1" type="radio" id="test2" />
                            <label for="test2">2 mi</label>
                        </p>
                        <p>
                            <input class="with-gap" name="group1" type="radio" id="test3" />
                            <label for="test3">3 mi</label>
                        </p>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
