<script src="js/activities.js"></script>
<script src="js/nav.js"></script>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row center">
            <div class="col s12">
                <br>
                <br>
                <div class="row center" id="logo">
                    <h1>WHAT ACTIVITY DID YOU DO ?</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center">
            <div class="col m6 s12">
                <div class="card green hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/running2.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator orange-text text-darken-4">Running<i class="material-icons right">more_vert</i></span>
                        <p>Click</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title orange-text text-darken-4">Running<i class="material-icons right">close</i></span>
                        <form method="post" action="/activities"  accept-charset="utf-8">
                            <div style="display:none;">
                              <input type="hidden" name="activity" value="running"></div>
                            <div class="input-field">
                              <label for="time" class="time">Time (10 min increments)</label>
                              <br>
                              <input type="number" value="10" min="0" name="time" required="required">
                            </div>
                            <br>
                            <div class="input-field">
                              <label for="distance">Distance (# of miles)</label>
                              <br>
                              <input type="number" value="1" min="0"  name="distance" required="required" >
                            </div>
                            <button type="submit" class="activity-btn">submit</a></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="card green hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/biking.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator orange-text text-darken-4">Biking<i class="material-icons right">more_vert</i></span>
                        <p>Click</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title orange-text text-darken-4">Biking<i class="material-icons right">close</i></span>
                        <form method="post" action="/activities"  accept-charset="utf-8">
                            <div style="display:none;">
                              <input type="hidden" name="activity" value="biking"></div>
                            <div class="input-field">
                              <label for="time" name="time" class="time">Time (10 min increments)</label>
                              <br>
                              <input type="number" value="10" min="0" name="time" required="required">
                            </div>
                            <br>
                            <div class="input-field">
                              <label for="distance">Distance (# of miles)</label>
                              <br>
                              <input type="number" value="1" min="0"  name="distance" required="required" >
                            </div>
                            <button type="submit" class="activity-btn">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center">
            <div class="col m6 s12">
                <div class="card green hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/walking.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator orange-text text-darken-4">Walking<i class="material-icons right">more_vert</i></span>
                        <p>Click</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title orange-text text-darken-4">Walking<i class="material-icons right">close</i></span>
                        <form method="post" action="/activities"  accept-charset="utf-8">
                            <div style="display:none;">
                              <input type="hidden" name="activity" value="walking"></div>
                            <div class="input-field">
                              <label for="time" class="time">Time (10 min increments)</label>
                              <br>
                              <input type="number" value="10" min="0" name="time" required="required">
                            </div>
                            <br>
                            <div class="input-field">
                              <label for="distance">Distance (# of miles)</label>
                              <br>
                              <input type="number" value="1" min="0"  name="distance" required="required" >
                            </div>
                            <button type="submit" class="activity-btn">submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col m6 s12">
                <div class="card green hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="images/hiking.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator orange-text text-darken-4">Hiking<i class="material-icons right">more_vert</i></span>
                        <p>Click</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title orange-text text-darken-4">Hiking<i class="material-icons right">close</i></span>
                        <form method="post" action="/activities"  accept-charset="utf-8">
                            <div style="display:none;">
                              <input type="hidden" name="activity" value="hiking"></div>
                            <div class="input-field">
                              <label for="time" class="time">Time (10 min increments)</label>
                              <br>
                              <input type="number" value="10" min="0" name="time" required="required">
                            </div>
                            <br>
                            <div class="input-field">
                              <label for="distance">Distance (# of miles)</label>
                              <br>
                              <input type="number" value="1" min="0"  name="distance" required="required" >
                            </div>
                            <button type="submit" class="activity-btn">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="activities.js">
    </script> -->
</div>
