<script src="js/cheats.js"></script>
<script src = "js/nav.js"></script>

<div class="row">

  <!-- first category -->
  <ul class="collapsible popout center" data-collapsible="accordion">

    <li>
      <div class="collapsible-header large" data-level="1">Level 1 - 400 points</div>
      <div class="collapsible-body">
        <div id="food-cards-1" class="row">
        </div>
      </div>
    </li>

    <!-- second category -->
    <li>
      <div class="collapsible-header large" data-level="2">Level 2 - 600 points</div>
      <div class="collapsible-body">
        <div id="food-cards-2" class="row">
        </div>
      </div>
    </li>

    <!-- third category -->
    <li>
      <div class="collapsible-header large" data-level="3">Level 3 - 700 points</div>
      <div class="collapsible-body">
        <div id="food-cards-3" class="row">
        </div>
      </div>
    </li>

  </ul>

</div>
