<script src="js/cheats.js"></script>

<script src = "js/nav.js"></script>
<div class="row">
  <div id="" class="points">
    <h2>Your total points are {{points}}!</h2>
  </div>

  <!-- first category -->
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header large"><i class="material-icons">filter_drama</i>Level 1 100 points</div>
      <div class="collapsible-body">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </li>

    <!-- second category -->
    <li>
      <div class="collapsible-header large"><i class="material-icons">filter_drama</i>Level 2 300 points</div>
      <div class="collapsible-body">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </li>


    <!-- third category -->
    <li>
      <div class="collapsible-header large"><i class="material-icons">filter_drama</i>Level 3 600 points</div>
      <div class="collapsible-body">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>

</div>
