<script src="js/day.js"></script>

<div class="row">

  <div id="" class="points">
    <h2>Your total points are {{points}}!</h2>
  </div>
  <div class="dailyPoints">
    <h3>{{dailyPoints}}/400</h3>
  </div>

  <div class="TOD">
    <h4>{{TOD}}This is the time of Day</h4>
  </div>
<!--- Slider Buttons -->
          <div id="morning">
          <div >
          <div class="col s12 m12 l12 ">
            <h5>Did you eat healthy?</h5>
            <div class="switch">
                <label>
                    No
                    <input type="checkbox" class="m_health">
                    <span class="lever"></span>
                    Yes
                </label>
            </div>
          </div>
        </div>
        <div>
          <div class="col s12 m12 l12">
            <h5>Did you drink water?</h5>
            <div class="switch">
                <label>
                    No
                    <input type="checkbox" class="m_water">
                    <span class="lever"></span>
                    Yes
                </label>
            </div>
          </div>
        </div>
      </div>

      <div id="afternoon">
        <div>
        <div class="col s12 m12 l12 ">
          <h5>Did you eat healthy?</h5>
          <div class="switch">
              <label>
                  No
                  <input type="checkbox" class="a_health">
                  <span class="lever"></span>
                  Yes
              </label>
          </div>
        </div>
      </div>
      <div>
        <div class="col s12 m12 l12">
          <h5>Did you drink water?</h5>
          <div class="switch">
              <label>
                  No
                  <input type="checkbox" class="a_water">
                  <span class="lever"></span>
                  Yes
              </label>
          </div>
        </div>
      </div>
    </div>

    <div id="evening">
      <div>
      <div class="col s12 m12 l12 ">
        <h5>Did you eat healthy?</h5>
        <div class="switch">
            <label>
                No
                <input type="checkbox" class="n_health">
                <span class="lever"></span>
                Yes
            </label>
        </div>
      </div>
    </div>
    <div>
      <div class="col s12 m12 l12">
        <h5>Did you drink water?</h5>
        <div class="switch">
            <label>
                No
                <input type="checkbox" class="n_water">
                <span class="lever"></span>
                Yes
            </label>
        </div>
      </div>
    </div>
  </div>

<!--- Activities Button -->
<div class="col s12 m12 l12">
  <a class="waves-effect waves-light btn" href="/activites.hbs"><i class="material-icons left">cloud</i>Activities</a>
</div>


</div>
