<script src="js/day.js"></script>
<script src = "js/nav.js"></script>

<!--- Points button that leads to cheats page -->
<div class="points center">
    <a href="/cheats">
        <h1>{{points}}</h1>
        <span>Click to spend your points!</span>
    </a>
</div>

  <div class="dailyPoints center">
    <h3>{{dailyPoints}}/400</h3>
  </div>

<div class="dayBtns center">
  <div class="row">
    <a class="waves-effect waves-light btn m-btn orange">Morning</a>
    <a class="waves-effect waves-light btn a-btn green">Afternoon</a>
    <a class="waves-effect waves-light btn e-btn blue">Evening</a>
  </div>
</div>

<div class="TOD center">
  <h4>{{TOD}}</h4>
</div>

<!--- Slider Buttons -->
<div class="switches center">
  {{{switches}}}
</div>
<br>

<!--- Submit button -->
<div class="daySubmit center">
  <a class="waves-effect waves-light btn" href="/day"><i class="material-icons left">cloud</i>Submit</a>
</div>
<br>
<!--- Activities Button -->
<div class="dayActivities center">
  <a class="waves-effect waves-light btn" href="/activities"><i class="material-icons left">cloud</i>Activities</a>
</div>
