<script src="js/day.js"></script>
<script src = "js/nav.js"></script>
<div class="row">

  <div class="points">
    <h2>Your total points are {{points}}!</h2>
  </div>
  <div class="dailyPoints">
    <h3>{{dailyPoints}}/400</h3>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn m-btn">Morning</a>
    <a class="waves-effect waves-light btn a-btn">Afternoon</a>
    <a class="waves-effect waves-light btn e-btn">Evening</a>
  </div>
  <div class="TOD">
    <h4>{{TOD}}</h4>
  </div>
<!--- Slider Buttons -->
    {{{switches}}}
<!--- Activities Button -->
<div class="col s12 m12 l12">
  <a class="waves-effect waves-light btn" href="/activites.hbs"><i class="material-icons left">cloud</i>Activities</a>
</div>


</div>
