<script src = "js/fb-auth.js"></script>
<script src = "js/index.js"></script>
<script src = "js/nav.js"></script>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      {{#if error}}
        <script>Materialize.toast('Bad email or password', 3000)</script>
      {{/if}}
      {{#if email}}
        <script>Materialize.toast('Email field is blank', 3000)</script>
      {{/if}}
      {{#if pswd}}
        <script>Materialize.toast('Password field is blank', 3000)</script>
      {{/if}}
      {{#if logged}}
        <script>Materialize.toast("You're already a user. Please log in!", 3000)</script>
      {{/if}}
        <div class="row center" id="logo">
            <h1>EARN YOUR CHEAT</h1>
        </div>
        <div class="row">
            <form method="POST" id="loginForm" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" name="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center">
                    <div class="col s12">
                      <button class="btn waves-effect light-green waves-light" type="submit" name="signup">Sign Up!</button>
                      <button class="btn waves-effect orange waves-light" type="submit" name="login">Log In</button>
                      <fb:login-button class="fb-btn" scope="public_profile,email" onlogin="checkLoginState();">
                      </fb:login-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div id="summary" class="row center">
            <h5><i>Reach your Fitness and Nutritional goals while eating what you love. Log your daily health and fitness choices to earn points towards a cheat food of your choice.</i></h5>
        </div>
    </div>
</div>
