.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
  color: #666666;
}

body {
  background-color: #000000;
  background-size: cover;
  background-image: url("../images/fitness.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex: 1 0 auto;
}

#download-button {
  background-color: #3b5998;
}

#logo {
  color: #e65100;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
}

#motto {
  color: #43AF11;
  font-family: Papyrus, fantasy;
  font-weight: bolder;
}

section.gradient button {
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #e65100;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

section.gradient button:hover, section.gradient button.hover {
  box-shadow: inset 0 0 0 1px #27496d, 0 5px 15px #193047;
}

section.gradient button:active, section.gradient button.active {
  box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047;
}

.digits {
  font-style: italic;
  font-size: 28px;
}

.time {
  font-size: 24px;
}
